body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.your-element {
  background: burlywood;
  border: 1px solid red;
}

.your-row-head {
  padding: 10px;
  font-weight: bold;
  background: lightgrey;
}

.your-col-head {
  padding: 10px;
  font-weight: bold;
  border: 1px solid gray;
}
