body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  color: #262424;
}

/* your customization styles */

.your-row-head {
  box-sizing: border-box; /* to take all available space */
  height: 100%; /* to take all available space */
  display: flex;
  align-items: center;
}

.your-row-head .wrapper {
  display: flex;
  align-items: center;
  background: #F4F7FB;
  padding: 0 5px;
  height: 99%;
  width: 100%;
}

.your-row-head .wrapper .content {
  font-weight: bold;
}

.your-col-head {
  padding: 15px;
  font-weight: bold;
  opacity: 0.5;
}

.your-element {
  box-sizing: border-box; /* to take all available space */
  height: 100%; /* to take all available space */

  border-radius: 6px;
  padding: 0.5rem;
}

.your-element h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.your-element .time {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  opacity: 0.7;
}

.your-element .description {
  margin-bottom: 0;
}

.grey {
  background: #B2B7BB;
}

.red {
  background: #A11643;
  color: white;
}

.blue {
  background: #5FC8FF;
}

.currentTimeOverlap {
  border-right: 1px solid #A11643;
  z-index: 2;
}

.currentTimeOverlap .overlap {
  opacity: 0.5;
  background: white;
}

.currentTimeOverlap .label {
  color: #A11643;
  font-weight: bold;
}
