/* todo: style content from app style file */
/*.element {*/
/*background: red;*/
/*}*/

.root {
  display: flex;
}

.colsHeader {
  display: inline-flex;
  flex-wrap: nowrap;
}

.col {
  /*flex-grow: 1;*/
}

.rowsHeader {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.rowsHeaderItem {
  box-sizing: border-box;
}

.rowsBody {
  position: relative;
}

.row {
  /*display: flex;*/
  /*flex-wrap: nowrap;*/
  /*position: relative;*/
  /* чтобы работат offsetHeight*/
  overflow: hidden;
}

.element {
  position: relative;
  overflow: hidden;
  /* margin between second element that starts when first is continued */
  margin: .5rem 0;
}

.gridLine {

}
