/* todo: style content from app style file */
/*.element {*/
/*background: red;*/
/*}*/

.root {
  display: flex;
}

.colsHeader {
  display: inline-flex;
  flex-wrap: nowrap;
}

.col {
  /*flex-grow: 1;*/
}

.rowsHeader {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.rowsHeaderItem {
  box-sizing: border-box;
}

.rowsBody {
  width: 100%;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
}

.row {
  overflow: hidden;
}

.element {
  position: relative;
  overflow: hidden;
  /* margin between second element that started when first was continued */
  margin: .5rem 0;
}

.gridLine {

}
