.root {
  display: flex;
}

.colsHeaderItem {
  display: inline-flex;
  flex-wrap: nowrap;
}

.rowsHeader {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.rowsHeaderItem {
  box-sizing: border-box;
}

.rowsBody {
  position: relative;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  /*todo: need customization*/
  padding-bottom: 30px;
}

.row {
  position: relative;
  overflow: hidden;
}

.element {
  cursor: pointer;
  position: absolute;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0.5rem 0;
}

.element:hover {
  z-index: 1; /*todo: animate*/
}
